body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
  }
  .body_section{
    padding : 3% 5% 1%;
  }
  
  
  .headerachor {
    color: black;
    margin: 0 7px 0 7px;
    font-size: 25px;
  }
  
  .headerachor:hover {
    background-color: #f1f1f1;
  }
  ul{
    
    background:#ff9999;
    padding:20px ;
  }
  /* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.down {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}




/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .head, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

  
    